@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/*--------------------------------------------Colors*/

body {
    background-color: rgba(120, 40, 36, 0.2);
}

footer {
    background-color: rgba(167, 39, 39, 0.8);
}

.navbar {
    background-color: rgb(180, 0, 39);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: rgb(245, 245, 245);
}

.navbar .active {
    background-color: rgba(0, 0, 0, 0.6);
}

.social-links a {
    color: rgb(245, 245, 245);
}

.feature button a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.welcome {
    color: rgb(245, 245, 245);
    font-weight: 300;
}

.banner .layer {
    background-color: rgba(0, 0, 0, 0.4);
}

.feature h5 {
    color: rgb(180, 0, 39);
}

.feature p {
    color: rgb(83, 0, 0);
}

.feature-col {
    background-color: rgba(182, 60, 60, 0.3);
}

.quotes h4 {
    color: rgb(165, 23, 54);
}

.quoted-text {
    color: rgb(114, 19, 39)
}

footer p {
    color: rgb(245, 245, 245);
}

/*--------------------------------------------Margins/Paddings*/

body {
    font-family: "Philosopher",sans-serif;
    font-size: 20px;
}

.navbar-brand {
    margin-left: 40px;
    padding: 0;
}

.fix-navbar-issue {
    padding-bottom: 44px;
}

.col-4 {
    padding: 0;
}

.col-sm-1 {
    padding: 0;
}

.col-sm-4 {
    padding: 0;
}

.header {
    margin: 0;
}

.footer {
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navbar .nav-item {
    text-transform: uppercase;
    display: block;
}

/*--------------------------------------------Header*/

.navbar {
    position: fixed;
    width: 100%;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    border: 0;
}

.navbar .nav-item {
    text-transform: capitalize;
}

.navbar-brand {
    letter-spacing: 5px;
    font-size: 30px;
}



/*--------------------------------------------Banner*/

.banner {
    background: url("/assets/images/akyurt.jpg");
    background-size: auto;
    height: 50vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 50px;
}

.layer {
    height: 100%;
}

.welcome {
    font-family: "Philosopher",sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 5%;
    font-weight: 400;
}

@media (max-width:600px) {
    .welcome {
        font-family: "Philosopher",sans-serif;
        font-size: 40px;
        text-align: center;
        padding-top: 80px;
    }
}

.welcome-icon {
    text-align: center;
}

.welcome-icon i {
    font-size: 60px;
    text-align: center;
    color: rgb(245, 245, 245);
}

/*--------------------------------------------Features*/

.feature {
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    height: inherit;
}

.feature h5 {
    font-family: "Philosopher",sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.btn-feature {
    margin-top: 30px;
}

.features {
    margin-bottom: 60px;
    min-height: 30vh;
}

@media (min-width: 576px) {
.feature-col {
    width: 32%;
    margin-left: 0.66%;
    margin-right: 0.66%;
}


/*--------------------------------------------Quotes*/


.quotes {
    height: auto;
    margin-left: 2.5%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.quotes h4 {
    font-family: "Philosopher",sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

.quote .quoted-text {
    margin-top: 15px;
    font-style: italic;

}

.quote p {
    padding-left: 10%;
    padding-right: 10%;
}

.author {
    text-align: right;
    color: rgb(82, 82, 82);
}

.quotes .quote-icon i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: rgb(245, 245, 245);
    background: #7e0000;
}

.col-sm-1 {
    text-align: right;
    padding-top: 30px;
}

.footer-heading {
    margin-bottom: 5px;
}


/*--------------------------------------------Footer*/

footer {
    height: auto;
}

.footer-heading {
    font-family: "Philosopher", sans-serif;
    font-size: 25px;
}

.address, .contacts, .social {
    padding: 20px 0px 0px 35px;
}

.contacts {
    overflow-wrap: break-word;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: rgb(245, 245, 245);
    background: #7e0000;
}