@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:wght@200;300;400;600;700&family=Raleway:wght@100;200;300;400;500;600;700&display=swap');

/*--------------------------------------------Colors*/

body {
    background-color: rgba(120, 40, 36, 0.2);
}

footer {
    background-color: rgba(167, 39, 39, 0.8);
}

.navbar {
    background-color: rgb(180, 0, 39);
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-brand {
    color: rgb(245, 245, 245);
}

.navbar .active {
    background-color: rgba(0, 0, 0, 0.6);
}

.social-links a {
    color: rgb(245, 245, 245);
}

.feature button a {
    color: rgb(245, 245, 245);
    text-decoration: none;
}

.welcome {
    color: rgb(245, 245, 245);
    font-weight: 300;
}

.banner .layer {
    background-color: rgba(0, 0, 0, 0.4);
}

.feature h5 {
    color: rgb(180, 0, 39);
}

.feature p {
    color: rgb(83, 0, 0);
}

.feature-col {
    background-color: rgba(182, 60, 60, 0.3);
}

.quotes h4 {
    color: rgb(165, 23, 54);
}

.quoted-text {
    color: rgb(114, 19, 39)
}

footer p {
    color: rgb(245, 245, 245);
}

.staff-name {
    background-color: rgb(180, 0, 39);
    color:  rgb(245, 245, 245);
}

.team-row {
    background-color: rgba(182, 60, 60, 0.3);
}

.team-description {
    color: rgb(83, 0, 0);
}

.treatment-price {
    background-color: rgba(182, 60, 60, 0.5);
}

.treatment-duration {
    background-color: rgba(182, 60, 60, 0.4);
}

.staff-feature p {
    background-color: rgba(245, 245, 245, 0.8);
}

/* .facility {
    background-color: rgba(255, 255, 255, 0.4);
} */

.facility h5 {
    color: rgb(180, 0, 39);
}

.facility p {
    color: rgb(83, 0, 0);
}

.treatment-desc {
    background-color: rgba(182, 60, 60, 0.3);
}

.treatment h5 {
    color: rgb(180, 0, 39);
}

.treatment p {
    color: rgb(83, 0, 0);
}

/*--------------------------------------------Margins/Paddings*/

body {
    font-family: "Philosopher",sans-serif;
    font-size: 20px;
}

.navbar-brand {
    margin-left: 5%;
    padding: 0;
}

.navbar-nav .nav-link {
    padding-left: 8px;
}

.fix-navbar-issue {
    padding-bottom: 44px;
}

.col-4 {
    padding: 0;
}

.col-sm-1 {
    padding: 0;
}

.col-sm-4 {
    padding: 0;
}

.header {
    margin: 0;
}

.footer {
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navbar .nav-link {
    text-transform: uppercase;
    display: block;
}



/*--------------------------------------------Header*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.navlink {
    font-family: "Nunito", sans-serif;
}

.navbar-light .navbar-toggler {
    border-color: rgba(0, 0, 0, 0);
    border: 0;
}

.navbar .nav-item {
    text-transform: capitalize;
}

.navbar-brand {
    letter-spacing: 5px;
    font-size: 30px;
}



/*--------------------------------------------Banner*/

.banner-home {
    background: url("../images/akyurt.jpg");
}

.layer {
    height: 100%;
}

.welcome {
    font-family: "Philosopher",sans-serif;
    font-size: 80px;
    text-align: center;
    padding-top: 5%;
    font-weight: 400;
}

@media (max-width:600px) {
    .welcome {
        font-family: "Philosopher",sans-serif;
        font-size: 40px;
        text-align: center;
        padding-top: 80px;
    }
}

.welcome-icon {
    text-align: center;
}

.welcome-icon i {
    font-size: 60px;
    text-align: center;
    color: rgb(245, 245, 245);
}

/*--------------------------------------------Features*/

.feature {
    text-align: center;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    height: inherit;
}

.feature h5 {
    font-family: "Philosopher",sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.btn-feature {
    margin-top: 30px;
}

.features {
    margin-bottom: 60px;
    min-height: 30vh;
}

@media (min-width: 576px) {
    .feature-col {
        width: 32%;
        margin-left: 0.66%;
        margin-right: 0.66%;
    }
}


/*--------------------------------------------Quotes*/


.quotes {
    height: auto;
    margin-left: 2.5%;
    margin-top: 40px;
    margin-bottom: 50px;
}

.quotes h4 {
    font-family: "Philosopher",sans-serif;
    font-size: 35px;
    text-align: center;
    margin-bottom: 50px;
}

.quote .quoted-text {
    margin-top: 15px;
    font-style: italic;

}

.quote p {
    padding-left: 10%;
    padding-right: 10%;
}

.author {
    text-align: right;
    color: rgb(82, 82, 82);
}

.quotes .quote-icon i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: rgb(245, 245, 245);
    background: #7e0000;
}

.col-sm-1 {
    text-align: right;
    padding-top: 30px;
}

.footer-heading {
    margin-bottom: 5px;
}


/*--------------------------------------------Footer*/

footer {
    height: auto;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
}

.footer-heading {
    font-size: 20px;
}

.address, .contacts, .social {
    padding: 20px 0px 0px 35px;
}

.contacts {
    overflow-wrap: break-word;
}

.social-links li a i {
    width: 50px;
    height: 50px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 30px;
    text-align: center;
    color: rgb(245, 245, 245);
    background: #7e0000;
}


/*--------------------------------------------Team - Page*/

.banner-team {
    background: url("../images/team-banner.jpg");
    background-position: center;
}

.team-main .container {
    max-width: 1000px;
}

.staff-name {
    text-align: center;
    font-size: 30px;
    margin-left: -12px;
    margin-right: -12px;
}

.team-row {
    margin-bottom: 30px;
    padding-top: 2%;
    padding-bottom: 2%;

}

.team-description {
    padding-left: 20px;
    padding-right: 20px;
    align-self: center;
}

.team-description-reverse {
    text-align: right;
}

@media (max-width: 768px) {
    .team-description {
        text-align: left;
    }
    .team-pic {
        margin-bottom: 30px;
    }
}

.container-team-pic {
    align-self: center;
}

.team-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#team-pic-staff-1 {
    background-image: url(../images/staff-1-sm.jpg);
    
}

#team-pic-staff-2, #team-pic-staff-2-mobile {
    background-image: url(../images/staff-2-sm.jpg);
    
}

#team-pic-staff-3 {
    background-image: url(../images/staff-3-sm.jpg);
    
}

.staff-feature {
    padding-left: 15px;
    padding-right: 15px;
}

/*--------------------------------------------Facilities - Page*/

.banner-facilities {
    background: url("../images/facilities-banner.jpg");
    background-position: center;
}

.facility {
    height: 250px;
    text-align: center;
    padding: 10%;
    margin-bottom: 30px;
}

.facility h5 {
    font-family: "Philosopher",sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

.facility-bg {
    background-size: cover;
    background-repeat: no-repeat;
}

.pool {
    background-image: url("../images/logan-stone.jpg");
    background-position: center;
}

.sauna {
    background-image: url("../images/sauna.jpg");
}

.steam-room {
    background-image: url("../images/steam-room.jpg");
    background-position: center;
}

.jacuzzi {
    background-image: url("../images/jacuzzi.jpg");
    background-position: center;
}

.facility p {
    font-size: 18px;
}

/*--------------------------------------------Treatments*/

.banner-treatments {
    background: url("../images/treatments-banner-bis.jpg");
    background-position: right;
}

.treatment {
    height: 250px;
    text-align: center;
    margin-bottom: 30px;
}

.treatment h5 {
    font-family: "Philosopher",sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .treatment h5 {
        font-size: 20px;
        margin-bottom: 15px;
    }
    .treatment p {
        font-size: 15px;
    }
}

.treatment-bg {
    width: 35%;
    height: inherit;
    margin: 0;
    float: left;
}

.treatment-body {
    width: 65%;
    float: left;
    height: 100%;
}

.treatment-desc {
    height: 85%;
    padding-top: 10%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.treatment-price {
    width: 50%;
    float: left;
    height: 15%;
    text-align: center;
    padding-top: 5px;
    font-style: italic;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

.treatment-duration {
    width: 50%;
    float: left;
    height: 15%;
    text-align: center;
    padding-top: 5px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.6);
}

#hot-stones {
    background-image: url(../images/hot-stones-sm.jpg);
}

#facial {
    background-image: url(../images/facial-sm.jpg);
}

#deep-tissue {
    background-image: url(../images/deep-tissue-sm.jpg);
}

#bath {
    background-image: url(../images/bath-sm.jpg);
}

#pedicure {
    background-image: url(../images/pedicure-sm.jpg);
}

#head-shoulders {
    background-image: url(../images/head-shoulders-sm.jpg);
}

.treatment-bg {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/*--------------------------------------------Banner*/

.banner {
    background-attachment: fixed;
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

/*--------------------------------------------To organise*/

.facility p, .facility h5 {
    opacity: 0;
    transition: opacity 1s linear;
    transition-delay: 3s;
    display: none;
}

.facility:hover p, .facility:hover h5 {
    opacity: 1;
    display: block;
}

.facility h3 {
    display: inline-block;
    opacity: 1;
    text-transform: uppercase;
    color: rgb(83, 0, 0);
    border: solid 1px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3px 10px 3px 10px;
    margin-top: 10%;
    transition: opacity 1s linear;
}

.facility:hover h3 {
    opacity: 0;
    display: none;
}


/* Effect from https://ianlunn.github.io/Hover/#effects */

/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}


/* Sweep To Bottom */
.hvr-sweep-to-bottom-white {
  /* display: inline-block; */
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom-white:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.6);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom-white:hover, .hvr-sweep-to-bottom-white:focus, .hvr-sweep-to-bottom-white:active {
  color: white;
}
.hvr-sweep-to-bottom-white:hover:before, .hvr-sweep-to-bottom-white:focus:before, .hvr-sweep-to-bottom-white:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



.navbar-light .navbar-brand:hover {
    color: rgb(255,255,255);
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(255,255,255);
}

/* BACKGROUND TRANSITIONS */
/* Fade */
.hvr-fade {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.8s;
  transition-duration: 0.8s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: rgba(255, 255, 255, 0.6);
  color: white;
}