/*--------------------------------------------Colors*/

body {
    background-color: rgba(120, 40, 36, 0.2);
}

footer {
    background-color: rgba(167, 39, 39, 0.8);
}

.navbar {
    background-color: rgba(180, 0, 39, 0.8);
}

.navbar .active {
    background-color: rgba(0, 0, 0, 0.6);
}

.navbar a, .social-links a {
    color: rgb(245, 245, 245);
}

.banner .welcome {
    color: rgb(245, 245, 245);
    font-weight: 300;
}

.banner .layer {
    background-color: rgba(0, 0, 0, 0.4);
}

footer p {
    color: rgb(245, 245, 245);
}

/*--------------------------------------------Margins/Paddings*/

.col-4 {
    padding: 0;
}

.header {
    margin: 0;
}

.footer {
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
}

.navbar .nav-item {
    text-transform: uppercase;
    display: block;
}




/*--------------------------------------------Header*/

.navbar {
    position: fixed;
    width: 100%;
}

/*--------------------------------------------Banner*/

.banner {
    background: url("/assets/images/akyurt.jpg");
    background-size: auto;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 15px;
}

.banner .layer {
    height: 100%;
}

.banner .welcome {
    font-size: 40px;
    text-align: center;
    padding-top: 200px;
}

/*--------------------------------------------Features*/

.feature {
    text-align: center;
    height: 40vh;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
}

.features .treatments, .features .facilities, .features .team {
    background-color: rgba(182, 60, 60, 0.3);
    margin: 2.5%;
}



/*--------------------------------------------Quotes*/


.quotes {
    height: auto;
    margin-left: 2.5%;
    margin-top: 40px;
}

.quotes h4 {
    text-align: center;
    margin-bottom: 20px;
}

.quote .quoted-text {
    margin-top: 15px;
    font-style: italic;

}

.quote p {
    padding-left: 10%;
    padding-right: 10%;
}

.quote .author {
    text-align: right;
}


/*--------------------------------------------Footer*/

footer {
    height: auto;
}

.address, .contacts, .social {
    padding: 20px 0px 0px 35px;
}


.fa {
    font-size: xx-large;
    padding-right: 15px;
}

.footer-heading {
    font-weight: 700;
}